<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="pisipEntities" connectionString="metadata=res://*/ModelPisip.csdl|res://*/ModelPisip.ssdl|res://*/ModelPisip.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HO8QQ1Q\SQLEXPRESS;initial catalog=pisip;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>